awscli
boto3
cloudpickle==2.1.0
datetime
mlflow==1.26.0
numpy==1.22.4
pandas==1.1.5
Pillow==9.1.1
plotly==5.9.0
protobuf==3.20.1
# dataclasses==0.6
psutil==5.9.1
requests==2.25.1
scikit-learn==1.1.1
scipy==1.8.1
typing-extensions==4.2.0
